<div class="level">
    <div class="level-item">
      <button class="button is-primary" (click)="showModal = !showModal">Add a Profile</button>
    </div>
</div>
<div *ngIf="showModal">
    <form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()">
      <div class="modal is-active" id="page-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="row">
            <div class="col-75">
              <div class="container is-fluid">
                <div class="row">
                  <div class="col-50">
                    <label class="label" for="givenname">First Name</label>
                    <div class="level is-flex" style="margin-bottom: 0.3rem">
                      <input
                        type="text"
                        id="givenName"
                        name="givenName"
                        placeholder="ex: James"
                        formControlName="givenName"
                        class="input is-medium level-item"
                      />
                      <span class="level-item">
                        <i
                          *ngIf="GivenName.invalid && (GivenName.touched || GivenName.dirty)"
                          class="level-item fas fa-ban has-text-danger"
                          title="Please enter valid name info"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </div>
                    <label class="label" for="familyname">Last Name</label>
                    <div class="level is-flex" style="margin-bottom: 0.3rem">
                      <input
                        type="text"
                        id="familyname"
                        name="familyname"
                        placeholder="ex: Peters"
                        formControlName="familyName"
                        class="input is-medium level-item"
                      />
                      <span class="level-item">
                        <i
                          *ngIf="FamilyName.invalid && (FamilyName.touched || FamilyName.dirty)"
                          class="level-item fas fa-ban has-text-danger"
                          title="Please enter valid name info"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </div>
                    <label class="label" for="type">Adult or Child</label>
                    <div class="level is-flex" style="margin-bottom: 0.3rem">
                      <input
                        type="text"
                        id="type"
                        name="type"
                        class="input is-medium level-item"
                        placeholder="ex: Adult"
                        formControlName="type"
                      />
                      <span class="level-item">
                        <i
                          *ngIf="Type.invalid && (Type.touched || Type.dirty)"
                          class="level-item fas fa-ban has-text-danger"
                          title="Please enter valid type info"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </div>
                    <label class="label" for="image">Image URL</label>
                    <div class="level is-flex" style="margin-bottom: 0.3rem">
                      <input
                        type="text"
                        id="image"
                        name="image"
                        placeholder="ex: http://placecorgi.com/190/180"
                        formControlName="imageUri"
                        class="input is-medium level-item"
                      />
                      <span class="level-item">
                        <i
                          *ngIf="
                            ImageURI.invalid && (ImageURI.touched || ImageURI.dirty)
                          "
                          class="level-item fas fa-ban has-text-danger"
                          title="Please enter valid Address info"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </div>

                    <label class="label" for="email">Email</label>
                    <div class="level is-flex" style="margin-bottom: 0.3rem">
                      <input
                        type="text"
                        id="email"
                        name="email"
                        placeholder="ex: jamespeters@gmail.com"
                        formControlName="Email"
                        class="input is-medium level-item"
                      />
                      <span class="level-item">
                        <i
                          *ngIf="
                            Email.invalid && (Email.touched || Email.dirty)
                          "
                          class="level-item fas fa-ban has-text-danger"
                          title="Please enter valid Address info"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </div>
                  </div>
                </div>
  
                <div class="level">
                  <button class="button is-primary level-item" type="submit">Add Profile</button>
                </div>
              </div>
            </div>
  
            <button
              class="modal-close is-large level-right"
              style="background-color: black"
              aria-label="close"
              (click)="showModal = !showModal"
            ></button>
          </div>
        </div>
      </div>
    </form>
  </div>

  